<div class="page-width-full" data-section="feature-row">
  <div class="feature-row">
    <div class="feature-row__item pro-col--left">
      {% if section.settings.pro_title != blank %}
        <h2 class="h3">{{ section.settings.pro_title | escape }}</h2>
      {% endif %}

      <div class="product-img--wrapper">
        {% capture img_id %}FeatureRowImage-{{ section.id | plus: 1 }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id | plus: 1 }}{% endcapture %}
        {% assign product = all_products[section.settings.featured_product] %}

        {% if section.settings.img_thumb_1 != nil %}
          {%- assign img_url = section.settings.img_thumb_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
            <div style="padding-top:{{ 1 | divided_by: section.settings.img_thumb_1.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                  class="feature-row__image lazyload"
                  src="{{ section.settings.img_thumb_1 | img_url: '200x200' }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.img_thumb_1.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.img_thumb_1.alt | escape }}">
            </div>
          </div>

          <noscript>
            {{ section.settings.img_thumb_1 | img_url: '600x600', scale: 2 | img_tag: section.settings.img_thumb_1.alt, 'feature-row__image' }}
          </noscript>
        {% else %}

            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
              <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
                <img id="{{ img_id }}"
                    class="feature-row__image lazyload"
                    src="{{ product.featured_image | img_url: '200x200' }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ product.featured_image.alt | escape }}">
              </div>
            </div>

            <noscript>
              {{ product.featured_image | img_url: '600x600', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
            </noscript>
        {% endif %}
      </div>
      
      {% if section.settings.product_btn_txt != blank %}
      <div class="product_link"><a href="{{ product.url }}" class="btn" aria-label="{{ section.settings.product_btn_txt }}">{{ section.settings.product_btn_txt }}</a></div>
      {% endif %}
    </div>

    <div class="feature-row__item pro-col--right">
      <div class="circle-img--wrapper">
        {% capture img_id %}FeatureRowImage-{{ section.id | plus: 2 }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id | plus: 2 }}{% endcapture %}
        {%- assign img_url = section.settings.img_thumb_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.img_thumb_2.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.img_thumb_2 | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.img_thumb_2.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.img_thumb_2.alt | escape }}">
          </div>
        </div>

        <noscript>
          {{ section.settings.img_thumb_2 | img_url: '600x600', scale: 2 | img_tag: section.settings.img_thumb_2.alt, 'feature-row__image' }}
        </noscript>
      </div>
      {% if section.settings.title_right != blank %}
        <h2 class="h3">{{ section.settings.title_right }}</h2>
      {% endif %}
      {% if section.settings.text_right != blank %}
        <div class="rte rte-setting featured-row__subtext">{{ section.settings.text_right }}</div>
      {% endif %}
    </div>
  </div>

  <div class="feature-row">
    <div class="feature-row__item col--left">
      <div class="circle-img--wrapper">
        {% capture img_id %}FeatureRowImage-{{ section.id | plus: 3 }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id | plus: 3 }}{% endcapture %}
        {%- assign img_url = section.settings.img_thumb_3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.img_thumb_3.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.img_thumb_3 | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.img_thumb_3.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.img_thumb_3.alt | escape }}">
          </div>
        </div>

        <noscript>
          {{ section.settings.img_thumb_3 | img_url: '600x600', scale: 2 | img_tag: section.settings.img_thumb_3.alt, 'feature-row__image' }}
        </noscript>
      </div>
      {% if section.settings.title_left != blank %}
        <h2 class="h3">{{ section.settings.title_left | escape }}</h2>
      {% endif %}
      {% if section.settings.text_left != blank %}
        <div class="rte rte-setting featured-row__subtext">{{ section.settings.text_left }}</div>
      {% endif %}
    </div>

    <div class="feature-row__item">
      {% if section.settings.img_thumb_4 != blank %}
        {% capture img_id %}FeatureRowImage-{{ section.id | plus: 4 }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id | plus: 4 }}{% endcapture %}
        {%- assign img_url = section.settings.img_thumb_4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.img_thumb_4.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.img_thumb_4 | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.img_thumb_4.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.img_thumb_4.alt | escape }}">
          </div>
        </div>

        <noscript>
          {{ section.settings.img_thumb_4 | img_url: '600x600', scale: 2 | img_tag: section.settings.img_thumb_4.alt, 'feature-row__image' }}
        </noscript>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    
  </div>
</div>



{% schema %}
{
  "name": "Image with text",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Feature row"
    },
    {
      "type": "image_picker",
      "id": "img_thumb_1",
      "label": "Image"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "pro_title",
      "label": "Title",
      "default": "Grown and used in the wild"
    },
    {
      "type": "text",
      "id": "product_btn_txt",
      "label": "Button text",
      "default": "Try now"
    },
    {
      "type": "image_picker",
      "id": "img_thumb_2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_right",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text_right",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "header",
      "content": "Feature row"
    },
    {
      "type": "image_picker",
      "id": "img_thumb_3",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_left",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text_left",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "image_picker",
      "id": "img_thumb_4",
      "label": "Imagen"
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with text",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}
